<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kytc.database.dao.ViewsDao">
	<resultMap id="viewsDTO" type="com.kytc.database.dto.ViewsDTO">  
		<result column="TABLE_CATALOG" property="tableCatalog" />  
		<result column="TABLE_SCHEMA" property="tableSchema"/>
		<result column="TABLE_NAME" property="tableName" />  
		<result column="VIEW_DEFINITION" property="viewDefinition" />  
		<result column="CHECK_OPTION" property="checkOption" />  
		<result column="IS_UPDATABLE" property="updatable" />  
		<result column="DEFINER" property="definer" />  
		<result column="SECURITY_TYPE" property="securityType" />  
		<result column="CHARACTER_SET_CLIENT" property="characterSetClient" />  
		<result column="COLLATION_CONNECTION" property="collationConnection" />  
	</resultMap>  
	<select id="list" resultType="String" parameterType="String">
	  	SELECT 
	  		TABLE_NAME 
	  	from 
	  		information_schema.TABLES 
	  	where 
	  		TABLE_SCHEMA = #{database} 
	  		and TABLE_TYPE = 'VIEW'
	</select>
	<select id="detail" resultMap="viewsDTO" parameterType="String">
		SELECT 
	  		*  
	  	from 
	  		information_schema.VIEWS 
	  	where 
	  		TABLE_SCHEMA = #{database} 
	  		and TABLE_NAME = #{viewName}
	</select>
</mapper>